<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

        <title>Amazon clone</title>
    </head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="home">
                Amazon
            </div>
            <div class="sign">
                Sign in
                Cart
            </div>
        </header>
        <main class="main2">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img src="../src/1.jpeg" alt="image1"/>
                                <x-star-rating>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star">  </div>
                                </x-star-rating>
                                <div class="product-name">Shirt</div>
                                <div class="product-brand">Levi</div>
                                <div class="product-price">$60</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img src="../src/1.jpeg" alt="image1"/>
                                <x-star-rating>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star">  </div>
                                </x-star-rating>
                                <div class="product-name">Shirt</div>
                                <div class="product-brand">Levi</div>
                                <div class="product-price">$60</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img src="../src/1.jpeg" alt="image1"/>
                                <x-star-rating>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star">  </div>
                                </x-star-rating>
                                <div class="product-name">Shirt</div>
                                <div class="product-brand">Levi</div>
                                <div class="product-price">$60</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img src="../src/1.jpeg" alt="image1"/>
                                <x-star-rating>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star">  </div>
                                </x-star-rating>
                                <div class="product-name">Shirt</div>
                                <div class="product-brand">Levi</div>
                                <div class="product-price">$60</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img src="../src/1.jpeg" alt="image1"/>
                                <x-star-rating>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star checked">  </div>
                                    <div class="fa fa-star">  </div>
                                </x-star-rating>
                                <div class="product-name">Shirt</div>
                                <div class="product-brand">Levi</div>
                                <div class="product-price">$60</div>
                            </div>
                        </li>
                    </ul>
                </div>
        </main>
        <main class="main1">Hello</main>
        <footer class="footer">
            <div>
            All rights reserved
            </div>
        </footer>
    </div>
</body>
</html>